{{#with user}}
    <section class="flex flex-col dash-intro">
        <h2>Welcome to your dashboard, {{username}}.</h2>

        <a class="link-btn" href="/create-new">Make a new post</a>
    </section>

    <hr>

    <section class="flex flex-col">
        <h2>Your Posts</h2>

        <div class="flex flex-col">
            {{#if posts.length}}
                {{> post-list posts}}
            {{else}}
                <p>You haven't made any posts.</p>
            {{/if}}
        </div>

    </section>

    {{!-- <hr>

    <h2>Your Comments</h2>

    {{#if comments.length}}
        {{> comments comments}}
    {{else}}
        <p>You haven't made any comments.</p>
    {{/if}} --}}
{{/with}}